.maintabel{
    margin-left: 12%;
    margin-right: 12%;
}
.imagebox{
    color: wheat;
}
.imageboxtab{
    position: absolute;
    margin-left: -45px;
    margin-top: -8px;
}
.imagelogo{
    min-width: 2% !important;
max-width: 100%;
min-height: 8% !important;
max-height: 100%;
}